---
import AboutHeroImage from '../assets/blog-maincover.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="关于这个博客"
	description="记录我笔记的地方"
	pubDate={new Date('May 18 2026')}
	heroImage={AboutHeroImage}
>
	<p>
		这是我的个人博客，主要用来记录学习笔记。
	</p>

</Layout>
