---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'brokenvase的学习笔记',
  subtitle:'一个计算机专业在读学生，记录算法导论、数据结构和编程学习过程',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: '查看博客',
        href: '/blog',
      },
      { text: '关于我', href: '/about' },
    ]}
    image={{ src: '~/assets/images/hero-image.jpg', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Welcome to my website 
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        created by template for Astro v6 +
        Tailwind CSS v4.</span>
      <span class="block mb-1 sm:hidden font-bold text-blue-600">AstroWind: Production-ready.</span>
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->



  <!-- Features Widget *************** -->

  

  <!-- Content Widget **************** -->

  
  <!-- Content Widget **************** -->

  
  <!-- Steps Widget ****************** -->

  

  <!-- Features2 Widget ************** -->


  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find out more content in my Blog"
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Questions and Answers "
    tagline="Q&A"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: '为什么我搭建了这个博客?',
        description:
          "作为一个计算机小白，记录算法导论学习内容，同时激励自己多接触计算机网络和算法相关知识",
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get source code',
        href: 'https://github.com/yuhaixin0924/website',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >

    <Fragment slot="title">
      查看本站源码:P
    </Fragment>
  </CallToAction>
</Layout>
