---
import { SITE } from 'astrowind:config';
---

<a href="/" class="flex items-center">
  <img src="/logo.jpg" alt={SITE?.name} class="h-8 w-8" />
  <span class="ml-2 text-2xl md:text-xl font-bold text-gray-900 dark:text-white">
    {SITE?.name}
  </span>
</a>
